<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
        <!--MENU PARENT-->
        <menuitem
                id="menu_core_top"
                name="Budgets"
                groups="base.group_system"
                sequence="4"/>
        <!--END MENU PARENT-->

        <!--MENU LEFT-->
        <menuitem
                id="menu_project_top_left"
                name="CAPEX"
                parent="menu_core_top"/>

        <!--MENU LEFT CHILD-->
        <menuitem
                id="menu_budget_inherit_project_left"
                name="CWP"
                sequence="1"
                parent="menu_project_top_left"
                action="action_budget_inherit_project"/>

        <menuitem
                id="menu_budget_history_inherit_project_left"
                name="CWP Transfer"
                sequence="2"
                parent="menu_project_top_left"
                action="action_budget_history_inherit_project"/>

        <menuitem
                id="menu_budget_plan_inherit_project_left"
                name="Budget Plan"
                sequence="3"
                parent="menu_project_top_left"
                action="action_budget_plan_inherit_project"/>

        <menuitem
                id="menu_operation_top_left"
                name="OPEX"
                parent="menu_core_top"/>
        <!--MENU LEFT CHILD-->
        <menuitem
                id="menu_budget_inherit_operation_left"
                name="CC - AC"
                sequence="1"
                parent="menu_operation_top_left"
                action="action_budget_inherit_operation"/>

        <menuitem
                id="menu_budget_plan_inherit_operation_left"
                name="Budget Plan"
                sequence="3"
                parent="menu_operation_top_left"
                action="action_budget_plan_inherit_operation"/>

        <menuitem
                id="menu_budget_accrual"
                name="Budget Accrual"
                sequence="4"
                parent="menu_operation_top_left"
                action="action_budget_accrual"/>

        <menuitem
                id="menu_budget_accrual_summary"
                name="Budget Accrual Summary"
                sequence="5"
                parent="menu_operation_top_left"
                action="action_budget_accrual_summary"/>

        <menuitem
                id="menu_budget_cost_center_left"
                name="Cost Center"
                sequence="6"
                parent="menu_operation_top_left"
                action="action_cost_center"/>

        <menuitem
                id="menu_budget_account_code_left"
                name="Account Code"
                sequence="7"
                parent="menu_operation_top_left"
                action="action_account_code"/>

        <menuitem
                id="menu_budget_account_code_area_spent_left"
                name="Account Code Area Spent"
                sequence="8"
                parent="menu_operation_top_left"
                action="action_account_code_area_spent"/>

        <!--END MENU LEFT-->

    </data>
</odoo>
